a {
  text-decoration: none;
}

.main {
  background:white;
  width: 100vw;
}

.am{
  background-color: #E2E2E2;
  border: none;
  height: 1px;
  margin-bottom: 15px;  
}

.dm{
  background-color: #E2E2E2;
  border: none;
  height: 2px;
  margin-bottom: 15px;
}

/* //画面左部部分 */
.left-lists{
  height: 300px;
  width: 200px;
}

.left-contents{
  margin-top: 50px;
}



/* //画面中央上部部分 */
.search{
  background-color: #f7fcfe;
}


/* //画面中央下部部分 */
.select-reason-contents {
  padding: 5vh 5vw;
  display: flex;
}

.ad-contents {
  height: 1000px;
  background-size: cover;
  padding: 5vh ;
  color: black;
}

.ad-footer-explain{
  margin-bottom: 15px;
}

.content_post{
  display: flex;
  margin-bottom: 10px;
  background-color: whitesmoke;
}


.img-title{
  font-weight: 1000;
  line-height: 1.5;
  font-weight: bold;
  background-color: whitesmoke;
}


