.contents {
  padding: 5vh 5vw;
  display: flex;
  background:white;
  width: 100vw;
}

.am{
  background-color: #E2E2E2;
  border: none;
  height: 1px;
  margin-bottom: 15px;  
}

.dm{
  background-color: #E2E2E2;
  border: none;
  height: 2px;
  margin-bottom: 15px;
}

// 画像スライド表示部分
.slider{
  height: 30px;
}

.fa-angle-double-left {
  font-size: 50px;
  position: absolute;
  z-index: 100;
  left: 50px;
  top: 150px;
  color: #8ec6fa;
}

.fa-angle-double-right {
  font-size: 50px;
  position: absolute;
  z-index: 100;
  right: 50px;
  color: #8ec6fa;
  top: 150px
}

/* //画面左部部分 */
.left-lists{
  width: 230px;
}
.left-contents{
  margin-top: 50px;
}



/* //画面右部部分 */
.rihgt-contents{
  height: 1000px;
  width: 1000px;
  background-size: cover;
  padding: 5vh ;
  color: black;
  margin-left: 50px;
  padding: 5px;
}

/* //画面中央上部部分 */
.search{
  background-color: #f7fcfe;
  box-shadow: 1px 1px 3px gray;
}

.search-content{
margin-left: 20px;
}

.search-conditions{
  padding: 5px 10px;
  background: white;
  font-size: 1.2rem;
  line-height: 1.5;
  border: 1px solid #dfe1e5;
  margin-top: 5px;
}

.search-submit{
  width:80px;/*検索ボタンの横幅*/ 
  height:30px;/*検索ボタンの縦幅*/   
  left:270px;/*検索ボタンの位置調整*/  
  top:0;
  border-radius:0 2px 2px 0;/*検索ボタンの角を丸める*/ 
  background:#228df8;/*検索ボタンの背景カラー*/ 
  border:none;/*検索ボタンの枠線を消す*/ 
  color:#fff;/*検索ボタンのテキストカラー*/ 
  font-weight:bold;/*検索ボタンのテキスト太字*/ 
  font-size:14px;/*検索ボタンのフォントサイズ*/ 
}

.search-submit:hover{
  color:#666;/*検索ボタンマウスオーバー時のフォントカラー*/ 
}

/* //画面中央下部部分 */
.new-rooms{
  box-shadow: 1px 1px 4px gray;
}

.ad-footer-explain{
  margin-bottom: 15px;
}

.content_post{
  display: flex;
  margin-bottom: 10px;
  background-color: whitesmoke;
}

.img-title{
  font-weight: 1000;
  line-height: 1.5;
  font-weight: bold;
  background-color: whitesmoke;
}
