a {
  text-decoration: none;
}

.main {
  background:white;
}

/* //画面上部部分 */
.select-reason-contents {
  padding: 5vh 5vw;
}

.ad-contents {
  height: 1000px;
  background-size: cover;
  padding: 5vh ;
  color: black;
}

.ad-footer-explain{
  margin-bottom: 15px;
}

.content_post{
  display: flex;
  margin-bottom: 10px;
  background-color: whitesmoke;
}

.dm{
  background-color: #E2E2E2;
  border: none;
  height: 2px;
}

.img-title{
  font-weight: 1000;
  line-height: 1.5;
  font-weight: bold;
  background-color: whitesmoke;
}


