.show{
  padding: 5vh 5vw;
}

.show-main{
  margin-left: 70px;
  padding: 5px;
  box-shadow: 1px 1px 4px gray;
}

.show-title{
  background: whitesmoke;
}

.show-image-video{
  margin-top: 50px;
  display: flex;
  align-items: flex-end;
}

.show-image{
  border : solid 3px #333 ;
}

.show-video{
  margin-left: 25px;
  border : solid 3px #333 ;
}

.purchase-showbtn{
  margin-left: 50px;
}

.show-btn{
  display: flex;
}