// クラスはアプリケーションレイアウトに記載、フッターの相対位置
.wrapper{
  min-height: 3000px;

  position: relative;/*←相対位置*/
}

.footer {
  width: 100vw;
  padding: 5vh 0;
  color:  #202020;
  background-color: #f9f9f9;
  text-align: center;
  position: absolute;/*←絶対位置*/
  bottom: 0; /*下に固定*/
}

.f-contents {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
}

.f-details {
  margin: 0 4vw;
}

.f-content-head {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-link {
  color: #202020;
  font-size: 12px;
  line-height: 30px;
}

.logo-white {
  width: 20vh;
  vertical-align: bottom;
}

.footer>p {
  font-size: 14px;
}