<%= render "shared/header" %>
<div class='main'>

  <div class='select-reason-contents'>
  
  <%# 画面中央募集、参加部分 %>
  <div class='ad-contents'>
      <p class='ad-footer-explain'>
        サクッとかんたん！気軽にできるスポーツを募集、参加！
      </p>
      <h2 class='ad-footer-title'>
        今すぐ参加しよう！
      </h2>
  </div>
  <%# /画面中央カテゴリごとの新着募集スポーツ部分 %>
  <div class='feature-contents'>
  </div>

  <%# その他スポーツ一覧 %>
  <div class='item-contents'>
  </div>
</div>
<%= render "shared/footer" %>