<%= render "shared/header" %>
<div class='main'>

  <div class='select-reason-contents'>
  
  <%=link_to (image_tag 'd15d275dcb53ef68d35759b84cb30d00.png' , size: '300x50' ,class: "purchase-btn-icon") , new_rooms_path %>
  <%# 画面中央募集、参加部分 %>
  <hr class="dm">
  <div class='ad-contents'>
      <p class='ad-footer-explain'>
        募集情報
      </p>
      <h2 class='ad-footer-title'>
        新着募集一覧
      </h2>
  </div>
  <%# /画面中央カテゴリごとの新着募集スポーツ部分 %>
  <div class='feature-contents'>
  </div>

  <%# その他スポーツ一覧 %>
  <div class='item-contents'>
  </div>
</div>
<%= render "shared/footer" %>